* {
  font-family: 'Courier New', Courier, monospace;
}

[lang='vi'] {
  font-weight: bold;
}

/* [class='my-list'] {
  font-style: italic;
} */
/* Short hand */
.my-list {
  font-style: italic;
  color: blue;
}

#my-id {
  font-weight: bold;
}

ul,
ol {
  font-size: large;
}

section p {
  font-weight: bold;
}

form > p {
  color: violet;
}

h2 + blockquote {
  color: blue;
}

h3 ~ blockquote {
  color: blueviolet;
}

#with-nth-child li:nth-child(2n+1) {
  color: pink;
}

#with-nth-of-type > li:nth-of-type(odd) {
  color: pink;
}

a:visited {
  color: red;
}

a:focus, a:hover {
  color: darkblue;
}

input:focus {
  outline: 2px solid black;
}

section:not(#my-id) {
  font-size: medium; /* rotate value around to see change */
}

p::first-letter {
  /* initial-letter: 3; */
  font-size: x-large;
}